@import 'https://unpkg.com/normalize.css';
@import 'https://unpkg.com/open-props/normalize.min.css';
@import 'https://unpkg.com/open-props/open-props.min.css';

:root {
  --aspect-ratio: 4 / 1;
  --header-scroll: calc(100vw / 4);
  --title-height: 100px;
  --shared-range: calc((var(--header-scroll) - var(--title-height) )) calc((var(--header-scroll) + (var(--title-height) * 2)));
}

body {
  background: var(--surface-1);
  display: grid;
  min-height: 200vh;
  justify-items: center;
  overflow-x: hidden;
  align-content: start;
  overflow-y: auto;
}
header {
  background: var(--surface-1);
  background-size: cover;
  max-width: 100%;
  width: var(--size-md);
  aspect-ratio: var(--aspect-ratio);
  position: relative;
  view-timeline-name: --header;
  width: 100vw;
  position: sticky;
  top: calc((var(--header-scroll) * -1) + var(--title-height));
}

header:after {
  content: "";
  position: absolute;
  inset: 0;
  background: hsl(0 0% 0% / 0.25);
  opacity: 0;
  backdrop-filter: blur(6px);
  animation: fade-in both ease-in-out;
  animation-timeline: scroll();
  animation-range: calc((var(--header-scroll) - (var(--title-height) * 1.5) )) calc((var(--header-scroll) + (var(--title-height) * 0)));
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.backdrop {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  clip-path: inset(0 0 0 0);
}

.avatar {
  width: var(--size-12);
  aspect-ratio: 1;
  border-radius: 50%;
  border: var(--size-2) solid var(--surface-1);
  position: absolute;
  top: 0%;
  left: var(--size-4);
  translate: 0 -100%;
  transform-origin: 0% 50%;
  animation: scale-down both ease-in-out;
  animation-timeline: scroll();
  animation-range: calc((var(--header-scroll) - (var(--title-height) * 1.5) )) calc((var(--header-scroll) + (var(--title-height) * 1)));
  z-index: 2;

}
@keyframes scale-down {
  to {
    scale: 0.35;
    top: 50%;
    translate: 0 -50%;
  }
}

.intro {
  max-width: 100%;
  width: var(--size-md);
  position: sticky;
  top: 0;
  margin-top: calc(var(--size-12) * 0.5);
}

main {
  width: var(--size-md);
  max-width: 100%;
}

.title {
  color: var(--gray-11);
  width: var(--size-md);
  max-width: 100%;
  height: var(--title-height);
/*   display: grid; */
  gap: var(--size-2);
  padding: var(--size-4);
  animation: slide both ease-in-out;
  animation-timeline: scroll();
  animation-range: calc((var(--header-scroll) - (var(--title-height) * 1.5) )) calc((var(--header-scroll) + (var(--title-height) * 0.25)));
}

h1 {
  color: currentColor;
}

span{
    color: var(--red-6);
}

@keyframes slide {
  to {
    color: var(--gray-0);
    translate: calc(var(--size-12) * 0.5) 0;
  }
}

.title-wrapper {
  position: relative;
  background: var(--surface-1);
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  justify-content: center;
  animation: shadow both;
  animation-timeline: scroll();
  animation-range: calc((var(--header-scroll) + var(--title-height) )) calc((var(--header-scroll) + (var(--title-height) * 2)));
}

.navbar a {
    font-size: 15px;
    text-transform: uppercase;
    color: var(--gray-0);
    text-decoration: none;
    position: relative;
    display: inline-block;
    margin-left: 39px;
    padding: var(--size-4);
    transition: .3s;
}

a:nth-child(1){
    width: 100px;
}

a:nth-child(2){
    width: 110px;
}

a:nth-child(3){
    width: 100px;
}

.navbar a:hover,
.navbar a.active{
    font-size: 18px;
    color: var(--red-6);
    font-weight: 500;
}

@keyframes shadow {
  to { box-shadow: var(--shadow-5); }
}

.title h1 {
  margin: 0;
}

.title a {
  color: var(--red-6);
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul {
  padding-top: var(--size-8);
  display: grid;
  gap: var(--size-4);
}

.skeleton {
  --surface: var(--surface-2);
  --block: var(--surface-3);
  --padding: var(--size-4);
  padding: var(--padding);
  gap: var(--padding);
  width: 100%;
  display: grid;
  grid-template: 1fr 1fr / 25% 1fr;
  background: var(--surface);
  max-inline-size: 100%;
}

@keyframes load {
  to {
    background-position: 200% 0;
  }
}

.skeleton__block:first-of-type {
  grid-row: 1 / -1;
  aspect-ratio: 1;
}

.skeleton__block:last-of-type {
  width: 65%;
}

.Contact{
}

.Contact h2{
    display: flex;
    justify-content: center;
    color:rgb(75, 179, 5);
    align-items: center;
    font-size: 4.6rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-block-end: 100px;
    margin-bottom: 4rem;
}

.contact-box{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    box-shadow: 0 0 20px 0 transparent;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    margin-left: 2rem;
    margin-top: 8rem;
}

form{
    margin: 50px;
}

.input-field{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}

.textarea-field{
    height: 150px;
    padding-top: 10px;
}

.btn{
    border-radius: 20px;
    color: #fff;
    margin-top: 18px;
    padding: 10px;
    background-color: rgb(75, 179, 5);
    font-size: 12px;
    border: none;
    cursor: pointer;
    transition: .3s ease;
}

.btn:hover{
    transform: scale(1.1);
}